
body {
  margin: 0px;
  padding: 0px;
  background: white;
  color: #777;
}


.container  {

width: 1024px;
}

#nav {

height: 40px;
font-size: 14px;
position: absolute;
left: 50%;
transform: translatex(-50%);
padding: 25px;
width: 100%;
text-align: center !important;
background-color: white !important;


}

.display-4 {
margin-top: 80px;
font-size: 70px !important;
}

.jumbotron {
background-image: url("../images/trail.png") !important;
overflow: none;
height: 100%;
font-family: 'Pacifico', cursive;
color: rgb(0, 0, 0);


}

.container2 {
width: 100%;
text-align: center !important;
height: 220px;

}

#container3 {
width: 100%;
height: 200px;
background-color: white;

}

