
body {
margin: 0px;
padding: 0px;
background: white;
color: #777;
background-image: url("../images/topograph.png") !important;
}

.container  {
width: 100vw;
background-color:white;


}

#carouselContainer {
margin-top: 60px;
padding-bottom: 60px;
}

#carouselExampleIndicators {
width: 90%;
margin: 0 auto;
}

.d-block {
max-height: 500px;
border-radius: 30px;
}

#nav {

height: 40px;
font-size: 14px;
position: absolute;
left: 50%;
transform: translatex(-50%);
padding: 25px;
width: 100%;
text-align: center !important;
background-color: white !important;
}

#mainHeader {
margin-top: 80px;
font-size: 70px !important;
}


.jumbotron {
background-image: url("../images/trail.png") !important;
background-repeat: no-repeat;
overflow: none;
height: 100%;
background-size: 100%;
font-family: 'Pacifico', cursive;
color: rgb(0, 0, 0);
}

h5 {
text-align: center;
font-weight: bold;
font-size: 24pt;
font-family: 'Pacifico', cursive;
color: black;
letter-spacing: 1.5pt;
padding: 10px;
padding-bottom: 40px;
}

.container2 {
width: 100%;
text-align: center !important;
height: 220px;

}

#cardFormContainer {
width: 100%;
background-color: white;
display: inline-flex;
margin: 0 auto;
width: 100%;
padding-bottom: 60px;
border-bottom-color: rgb(190, 187, 187);
border-bottom-style: solid;
border-width: 2px;
}

.card {
min-width: 500px;
}

#mountain-img {
max-width: 580px;
display: inline-block;
height: 440px;
padding-left: 30px;
}

#mailer {
background-color: blanchedalmond;
height: 40px;
width: 100%;
display: block;
margin: 0;
}

#mailerText {
text-align: center;
font-weight: 300;
padding: 4px;
font-size: 16pt;
font-family: 'Pacifico', cursive;
color: black;
margin: 0;
}

#cards {
  margin: 50px 20px 20px 20px;
  height: max-content;
  width: 100%;
}

#trails {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  display: inline-block;
  background-color: white;
 
}




#new-card{
  
  margin-top: 0px;
  margin-bottom: 10px;
  color: black;
  
  
}

#new-div {
  border: 40px solid rgb(46, 63, 46);
  border-radius: 2%;
  height: 600px;
  margin-bottom: 20px;
  text-align: center;
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  
  
  
}

/*Media Queries*/

  /* max widths: 1200px, 996px, 700px */

  /*1200px*/

  @media screen and (max-width: 1200px) {

    #mountain-img {
      max-width: 420px;
      display: inline-block;
      height: 260px;
      padding-left: 30px;
      justify-content: center;
      }

    .jumbotron {
      background-image: url("../images/trail.png") !important;
      background-repeat: no-repeat;
      overflow: none;
      height: 350px;
      background-size: 100%;
      font-family: 'Pacifico', cursive;
      color: rgb(0, 0, 0);
      }

  }

  /*996px*/


  @media screen and (max-width: 996px) {

    #mountain-img {
      display: none;
      }

    .jumbotron {
      background-image: url("../images/trail.png") !important;
      background-repeat: no-repeat;
      overflow: none;
      height: 250px;
      background-size: 100%;
      font-family: 'Pacifico', cursive;
      color: rgb(0, 0, 0);
    
      }

    #mailer {
      background-color: blanchedalmond;
      height: 70px;
      width: 100%;
      display: block;
      margin: 0;
      }

    #cardFormContainer {
      width: 100%;
      background-color: white;
      /* display: inline-flex; */
      margin: 40px auto;
      width: 100%;
      justify-content: center;
      padding-bottom: 60px;
      border-bottom-color: rgb(190, 187, 187);
      border-bottom-style: solid;
      border-width: 2px;
      }

    #mainHeader {
      margin-top: 20px;
      font-size: 70px !important;
      }

    #navImage {
      display: none;
    }

    #nav {
      height: 80px;
    }

    .navbar-toggler {
      margin: 0 auto;
    }
    
    #navbarNav {
      background-color: white;
      width: 30px !important;
    }

  }

   /*700px*/


   @media screen and (max-width: 700px) {

    .jumbotron {
      background-image: url("../images/trail.png") !important;
      background-repeat: no-repeat;
      overflow: none;
      height: 180px;
      background-size: 100%;
      font-family: 'Pacifico', cursive;
      color: rgb(0, 0, 0);
      }


    #mainHeader {
    
      font-size: 50px !important;
      }
    
    .lead {
      font-size: 10px;
    }


  /*576*/



  @media screen and (max-width: 576px) {

    .jumbotron {
      background-image: url("../images/trail.png") !important;
      background-repeat: no-repeat;
      overflow: none;
      height: 180px;
      background-size: 100%;
      font-family: 'Pacifico', cursive;
      color: rgb(0, 0, 0);
      }


    #mainHeader {
      margin-top: 50px;
      font-size: 50px !important;
      }
    
    .lead {
      font-size: 10px;
    }



   }
