
body {
  margin: 0px;
  padding: 0px;
  background: white;
  color: #777;
  background-image: url("../images/topograph.png") !important;
}


.container  {
width: 100vw;
}

#nav {

height: 40px;
font-size: 14px;
position: absolute;
left: 50%;
transform: translatex(-50%);
padding: 25px;
width: 100%;
text-align: center !important;
background-color: white !important;
}

#mainHeader {
margin-top: 80px;
font-size: 70px !important;
}


.jumbotron {
background-image: url("../images/trail.png") !important;
background-repeat: no-repeat;
overflow: none;
height: 100%;
background-size: 100%;
font-family: 'Pacifico', cursive;
color: rgb(0, 0, 0);
}

h5 {
text-align: center;
font-weight: bold;
font-size: 20pt;
font-family: 'Pacifico', cursive;
color: black;
letter-spacing: 1.5pt;
padding: 10px;
padding-bottom: 40px;
}

.container2 {
width: 100%;
text-align: center !important;
height: 220px;

}

#cardFormContainer {
width: 100%;
background-color: white;
display: inline-flex;
margin: 0 auto;
width: 100%;
}

.card-body {
min-width: 400px;
margin: 0 auto;
}